@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  background: #4F6286;
  font-family: "ヒラギノ角ゴ Std W0";
  color: #F7F7F7;
}

.fastView {
  position: relative;
}
.fastView .headerLine {
  position: absolute;
  transform: translateY(-45%) translateX(-10%);
}
.fastView .catch {
  position: relative;
  font-size: 44px;
  text-align: center;
}
.fastView .catch1 {
  position: absolute;
  width: 927px;
  border-bottom: 1px solid #F7F7F7;
  top: 145px;
  right: 0;
}
.fastView .catch2 {
  position: absolute;
  width: 985px;
  border-bottom: 1px solid #F7F7F7;
  right: 0;
  transform: translateY(221px);
}
.fastView .catch .treasure {
  color: #E8E58A;
}
.fastView .rogo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(330px);
}
.fastView .rogoFrase {
  width: 146px;
  height: 64px;
  margin-right: 30px;
}
.fastView .rogoImg {
  width: 315px;
  height: 255px;
}
.fastView .font {
  margin: 325px 0 0 200px;
  font-size: 20px;
}
.fastView .gro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  /*現在地とhoverの設定*/
}
.fastView .gro .gnavi {
  display: flex;
  margin: 0 0 50px 0;
  list-style: none;
}
.fastView .gro .gnavi li a {
  display: block;
  width: 213px;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  color: #f7f7f7;
}
.fastView .gro .gnavi li {
  margin-bottom: 20px;
}
.fastView .gro .gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.fastView .gro .gnavi li.current a,
.fastView .gro .gnavi li a:hover {
  color: #0481A2;
}
.fastView .gro .gnavi li a::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #0481A2;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}
.fastView .gro .gnavi li.current a::after,
.fastView .gro .gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

.main {
  position: relative;
  width: 1000px;
  margin: 350px auto 0;
}
.main .point1 {
  position: absolute;
  position: relative;
  left: 0;
}
.main .point1Img {
  position: absolute;
  top: 34.7px;
  left: 34.7px;
}
.main .point1Point {
  position: absolute;
  top: 73.7px;
  left: 360px;
  z-index: 2;
}
.main .point11 {
  position: absolute;
  top: 50.7px;
  left: 400px;
  z-index: 3;
}
.main .point1box {
  content: "";
  width: 67px;
  height: 17px;
  position: absolute;
  top: 72.7px;
  left: 358px;
  background: #E0A1AF;
  transition: width 1s;
}
.main .point1 p {
  position: absolute;
  left: 358px;
}
.main .point1 p.top {
  top: 104px;
  font-size: 16px;
}
.main .point1 p.about {
  top: 182px;
  font-size: 14px;
}
.main .point2 {
  position: absolute;
  position: relative;
  margin-top: 200px;
  transform: translateX(15%);
  right: 0;
}
.main .point2Img {
  position: absolute;
  top: 34.7px;
  left: 34.7px;
}
.main .point2menuBtn {
  position: absolute;
  top: 34.4px;
  left: 690px;
}
.main .point2Point {
  position: absolute;
  top: 73.7px;
  left: 360px;
  z-index: 2;
}
.main .point22 {
  position: absolute;
  top: 50.7px;
  left: 408px;
  z-index: 3;
}
.main .point2box {
  content: "";
  width: 82px;
  height: 17px;
  position: absolute;
  top: 72.7px;
  left: 358px;
  background: #E0A1AF;
}
.main .point2 p {
  position: absolute;
  left: 358px;
}
.main .point2 p.top {
  top: 104px;
  font-size: 16px;
}
.main .point2 p.about {
  top: 182px;
  font-size: 14px;
}
.main .point3 {
  position: absolute;
  position: relative;
  margin-top: 200px;
}
.main .point3Img {
  position: absolute;
  top: 34.7px;
  left: 34.7px;
}
.main .point3instoreBtn {
  position: absolute;
  top: 34.4px;
  left: 687px;
}
.main .point3Point {
  position: absolute;
  top: 73.7px;
  left: 360px;
  z-index: 2;
}
.main .point33 {
  position: absolute;
  top: 50.7px;
  left: 408px;
  z-index: 3;
}
.main .point3box {
  content: "";
  width: 82px;
  height: 17px;
  position: absolute;
  top: 72.7px;
  left: 358px;
  background: #E0A1AF;
}
.main .point3 p {
  position: absolute;
  left: 358px;
}
.main .point3 p.top {
  top: 104px;
  font-size: 16px;
}
.main .point3 p.about {
  top: 182px;
  font-size: 14px;
}
.main .address {
  position: relative;
  top: 200px;
  text-align: center;
  margin-bottom: 750px;
}
.main .address img {
  position: absolute;
  left: 50px;
}
.main .address .bold {
  position: absolute;
  top: 50px;
  left: 500px;
}
.main .address .bold p {
  font-weight: bold;
}
.main .address .bold p.a {
  margin-bottom: 43px;
}
.main .address .bold p.b {
  margin-bottom: 23px;
}
.main .address .bold p.c {
  margin-bottom: 43px;
}
.main .address .bold p.d {
  margin-bottom: 23px;
}
.main .address .font {
  position: absolute;
  top: 50px;
  left: 670px;
}
.main .address .font .a1 {
  margin-bottom: 20px;
}
.main .address .font .b1 {
  margin-bottom: 19px;
}
.main .address .font .c1 {
  margin-bottom: 20px;
}
.main .address .font .d1 {
  margin-bottom: 23px;
}

.page-top {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  width: 60px;
  height: 80px;
  border-radius: 50%;
  background-color: #4F6286;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.page-top:hover {
  transform: scale(1.1);
}